<div *ngIf="orders.length > 0; else noOrders" class="container">
  <h2 class="orders-title">Your Orders</h2>
  <div class="row orders-row">
    <div *ngFor="let order of orders" class="col-md-4 mb-4">
      <div class="card order-card">
        <div class="card-body">
          <h5 class="card-title">Order Status: {{order.status}}</h5>
          <p class="card-text">
            <strong>Payment Amount:</strong>
            <ng-container *ngIf="order.paymentId != null; else noPayment">
              R {{payments[order.paymentId]?.amount}} <br>
            </ng-container>
            <ng-template #noPayment>
              Payment details not available
            </ng-template>
          </p>
          <h6 class="card-subtitle mb-2">Services:</h6>
          <ul *ngIf="order.services && order.services.length > 0; else noServices" class="list-unstyled">
            <li *ngFor="let service of order.services" class="mb-2 service-item">
              <div class="card service-card">
                <div class="card-body">
                  <strong>Name:</strong> {{service.name}} <br>
                  <strong>Description:</strong> {{service.description}} <br>
                  <strong>Price:</strong> R{{service.price}}
                </div>
              </div>
            </li>
          </ul>
          <ng-template #noServices>
            No services available for this order.
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-3 next-button" routerLink="/success">Next</button>
</div>

<ng-template #noOrders>
  <p class="text-white">You have no orders.</p>
</ng-template>




