
<div class="navbar">

<h1>Fresh wash</h1>





<img id="logo" src="assets/logo.jpeg" alt="logo">
</div>
<div class="heroImage">


<div class="i"><h1 class="t" >Fresh Wash , Where Dirt Meets Clean!</h1>
  <p class="font">
    Embark on a laundry experience like no other. 
    Say goodbye to the days of endless loads and hello to the ease of SparkleWash. 
    Whether you're a busy professional, a bustling family,
     or simply seeking a laundry solution that fits your lifestyle, we've got you covered.
  </p>


  <div class="d-flex justify-content-center">
    <button  routerLink="/register"id="book">Book now</button>
</div>


</div>






