
<div class="navbar">

<h1>Fresh wash</h1>
<div class="nav-links">
  <div class="list">
<ul>
 
 <li><a href=""><button id="contactbtn">Contact Us </button> </a></li>
 <li><a href=""><button id="homebtn">About Us</button></a></li>
  <li><a href=""><button id="servicesbtn" routerLink="/services" routerLinkActive="active" >Services</button></a></li>
 </ul>
</div>
</div>
<img id="logo" src="assets/logo.jpeg" alt="logo">
</div>
<div class="heroImage">
<img id="roro" src="assets/roro.jpeg" alt="">
<div class="heroText"><h1> Fresh Wash , Where Dirt Meets Clean!
</h1>
</div>

<div class="content">
<p>
  Embark on a laundry experience like no other. 
  Say goodbye to the days of endless loads and hello to the ease of SparkleWash. 
  Whether you're a busy professional, a bustling family,
   or simply seeking a laundry solution that fits your lifestyle, we've got you covered.
</p>
</div>
<button  routerLink="/book"    id="book">Book now</button>
</div>









