.container-fluid{
    background-color: blue;
    display: flex;
  justify-content: space-between;
  
}

.navbar-nav{
 margin-left: 500px; 
 display: flex;
    
}
.navbar-nav .nav-item{
    margin-right: 60px
}
.buttons{
    margin-left: 100px;
    display: flex;
 
}
