<div class="container">
  <div class="eft"><img src="assets/EFT.webp" alt=""></div>
  <div class="heading"><h1>CHOOSE YOUR BANK</h1></div>
 
  <div class="images"> 
  
  <div class="absa"><img  id="absa" src="assets/absa.webp" alt=""></div>
  <div class="African"><img id="african" src="assets/african.png" alt=""></div>
  <div class="capitec"><img  id="capitec" src="assets/capitec.png" alt=""></div>
  <div class="fnb"><img  id="fnb" src="assets/fnb.jpg" alt=""></div>
<div class="standard"><img  id="standard"  src="assets/standard.png" alt=""></div>
<div class="tymebank"><img  id="tymebank"   src="assets/tymebank.jpg" alt=""></div>
</div>






</div>
