
<div class="methods">

  <h1>Choose Bank</h1>
  <div class="col1">
    <div class="card">
      <img src="assets/absa.webp" class="card-img-top" alt="...">
      </div>
  </div>

  <div class="col2">
    <div class="card">
      <img src="assets/african.png" class="card-img-top" alt="...">
      </div>
  </div>




  <div class="col3">
    <div class="card">
      <img src="assets/fnb.jpg" class="card-img-top" alt="...">
       </div>
  </div>

  <div class="col4">
    <div class="card">
      <img src="assets/standard.png"class="card-img-top" alt="...">
      </div>
  </div>

  <div class="col5">
    <div class="card">
      <img src="assets/tymebank.jpg"  class="card-img-top" alt="...">
      </div>
  </div>

</div>
