<div class="SignupForm">
<form action="">
  <h1 id="signup" >Sign Up</h1>

<input id="firstName" type="text" placeholder="first name">
<input  id="lastName"  type="text" placeholder="last name">
<input id="email"  type="text" placeholder="email address">
<p id="heading"  >Physical Address</p>
<input id="Address1" type="text" placeholder="Address line 1">
<input   id="Address2" type="text" placeholder="Address line 2">
<input  id="Address3"  type="text" placeholder="Address line 3">
</form>

<button>Sign Up</button>



</div>
