
<form class="Form" >
  <h1>Sign up</h1>
  <div class="name">
    <label  class="form-label">Full Names</label>
    <input type="text" class="form-control" id="name" value="Mark" required>
    
  </div>


  <div class="email">
    <label class="form-label">Email</label>
    <div class="email">
     <input type="text" class="form-control" id="email"  value="Otto@gmail." required>
      </div>
  </div>
  
  <div class="email">
    <label class="form-label">Phone Number</label>
    <div class="email">
     <input type="text" class="form-control" id="email"  value="Otto@gmail." required>
      </div>
  </div>
  <p class="al" >  Already have account?  <a routerLink="/login">Sign In</a>  </p>


  <button  routerLink="/login"  >Sign Up</button>


</form>