
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h1>Sign up</h1>
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter your full name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email address">
  </div>
  
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" placeholder="Enter your phone number">
  </div>
  
  <button type="submit"  routerLink="/login" [disabled]="!signupForm.valid">Sign Up</button>
</form>
