<div class="container">
  <img src="assets/absa.webp" alt="">
  <div class="amount">
    <input type="date" [(ngModel)]="date" placeholder="R500">
  </div>
  <h1 style="color: rgb(38, 33, 25);">SELECT ACCOUNT</h1>
  <h1 style="margin-top: 50px;">Savings account</h1>
  <div class="amount">
    <input style="background-color:white;margin-top: -30px;" type="number" [(ngModel)]="amount">
    <p style="margin-top: -20px;">Amount </p>
  </div>
  <div class="account" (click)="toggleAccountColor()" [ngClass]="{'clicked': isAccountClicked}">
    <p>67885422245</p>
  </div>
  <button (click)="sendData()"  routerLink="/confirm" id="next">Next</button>
  <button routerLink="/absa" id="cancel">Cancel</button>
</div>
