.container{
    width: 400px;
    height: 800px;
    border-radius: 30px;
    background-color: aliceblue;
    margin-left: 600px;
}



.success  {
  background-color: black;
  width: 200px;
margin-left: 100px;
margin-top: -20px;

}
button{
    height: 40px;
    border-radius: 10px;

    border: solid 0px;
    width: 400px ; 
    margin-top: 600px;
   
}
 h1{
    color: grey;
  
 margin-top: 60px;
}