.container h1{
    color: red;
    font-size: 30px;
    margin-left: 150px;
}
.container h2{
    margin-left: 450px;
    margin-top: 40px;
   
}
.container{
    width: 600px;
    height: 500px;
    background-color: whitesmoke;
}
.container p{
    margin-left: 200px;
}

.container p input{
    width: 60px;
    border-radius: 10px;
    border: solid 0px;
}
.container h2 input{
    width: 60px;
    border-radius: 10px;
    border: solid 0px;
}