
<div  *ngIf="customer" class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
            <p><strong>Name:</strong> {{ customer.firstName}}</p>
            <p><strong>Date:</strong> {{ customer.lastName}}</p>
            <p><strong>Status:</strong> {{ customer.number}}</p>
            <p><strong>Address:</strong> {{ customer.address }}</p>
            <p><strong>Email:</strong> {{ customer.email}}</p>
            <p><strong>OrderId:</strong> {{ customer.role}}</p>
           
        </div>
      </div>
    </div>
   
  </div>
