
<div class="container">



<div class="holder"> <h1 >Pick Up Details</h1>


    <div class="container1 ">
        <div class="row row-cols-2">
          <div class="col">     <label for="exampleFormControlInput1" class="form-label">Do You Require us to fetch the laundry(Optional)</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>

              </select></div>
              <div class="col">
             
                <label for="exampleFormControlInput1" class="form-label">Pick Up Date</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="29 June 2024">
              </div>
                  <div class="col">
             
                    <label for="exampleFormControlInput1" class="form-label">Pick Up Time</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="3:00 am">
                  </div>
                     
        
                    </div>
      </div>

</div>

      

<div class="holder"> <h1 class="" >Customer Details</h1>


    <div class="container1 ">
        <div class="row row-cols-2">
            <div class="col">
             
                <label for="exampleFormControlInput1" class="form-label">Full Names</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Collect Now ">
              </div>
              <div class="col">
             
                <label for="exampleFormControlInput1" class="form-label">Cell Phone Number</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="10111">
              </div>
                  <div class="col">
             
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Collect@gmail.com">
                  </div>
                     
        
                    </div>
      </div>

</div>



<div class="holder">

    
<h1>Customer Address</h1>

<div class="container1 ">
    <div class="row row-cols-2">
        <div class="col">
         
            <label for="exampleFormControlInput1" class="form-label">House Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="8th zondi ">
          </div>
          <div class="col">
         
            <label for="exampleFormControlInput1" class="form-label">Town</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Soweto">
          </div>
              <div class="col">
         
                <label for="exampleFormControlInput1" class="form-label">Postal Code</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="1900">
              </div>
                 
    
                </div>
  </div>

</div>
<button id="back"  routerLink="/home" >Back</button>
<button  routerLink="/register"  id="next" >Next</button>
</div>