

.form{

    height: 40px;
    width: 360px;
    border-radius: 10px;
    border: solid 0px;
    background-color: #2a9d8f;
    
}
.confirm button{
    margin-left: 200px;
    margin-top: 50px;
}

.confirm{

    background-color:#2a9d8f;
    width: 700px;
    height: 800px;
    margin-left: 400px;
   
}

.confirm h2{
    margin-left: 200px;
}

.confirm p{
    margin-left: 30px;
    margin-top: 50px;
}
input{
   
    height: 30px;
    width: 360px;
    border-radius: 10px;
    border: solid 0px;
   
}

.form-label{
   padding-top: 10px;
   padding-bottom: 10px;
}

.container{
    width: 100%;
    height:100vh;
    background-color:rgb(115, 161, 161);
box-shadow: 60px;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 20px;
   
  
}
#address{
    
}

#second{
    margin-top: 20px;
}
button{
    height: 40px;
    border-radius: 10px;
  margin-top: 60px;
    border: solid 0px;
    width: 150px;
  
}

#next{
 margin-left: 270px;
margin-top: 45px;
 background-color: #2a9d8f;
}
#back{
  margin-left: 90px;

  background-color: white;
}
#back:hover{
  background-color: aqua;
}


#next:hover{

    background-color: aqua;
}

.holder{
    padding-top: 20px;
    margin-left: 20px;
}


