

.form{

    height: 40px;
    width: 360px;
    border-radius: 10px;
    border: solid 0px;
    background-color: #2a9d8f;
    
}

.confirm{

    background-color: blueviolet;
}
input{
   
    height: 30px;
    width: 360px;
    border-radius: 10px;
    border: solid 0px;
   
}

.form-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    width: 800px;
    height:90vh;
    background-color:rgb(115, 161, 161);
box-shadow: 60px;
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 20px;
  
}
#address{
    margin-top: -15px;
}

#second{
    margin-top: 20px;
}
button{
    height: 40px;
    border-radius: 10px;
  
    border: solid 0px;
    width: 200px;
  
}

#next{
 margin-left: 270px;
margin-top: 45px;
 background-color: #2a9d8f;
}
#back{
  margin-left: 90px;

  background-color: white;
}
#back:hover{
  background-color: aqua;
}


#next:hover{

    background-color: aqua;
}

.holder{
    margin-top: 20px;
    margin-left: 20px;
}


