
<div class="container">
<h1>Pick Up Details</h1>
<p>Do You Require us to fetch the laundry(Optional)</p>
<input type="text">
<p>Select Pick Up Date</p>
<input type="text">
<p>Select Pick Up Time</p>
<input type="text">
<h1>Customer Details</h1>
<p>First Name</p>
<input type="text">
<p>Last Name</p>
<input type="text">
<p>Cell Number</p>
<input type="text">
<p>Email Address</p>
<input type="text">
<h1>Customer Address</h1>
<p>street address</p>
<input  id="address"  type="text">


<input   id="second" type="text">
<p>Town/City</p>
<input type="text">
<button id="back"  >Back</button>
<button id="next" >Next</button>
</div>