

.form{

    height: 40px;
    width: 360px;
    border-radius: 10px;
    background-color: rgb(2, 46, 22);
    
}



input{
   
    height: 30px;
    width: 360px;
    border-radius: 10px;
    border: solid 0px;
   
}

.form-label{
   padding-top: 10px;

}

.container{
    width: 100px;
    height:100px;
    background-color:rgb(2, 46, 22);
box-shadow: 60px;
    border-radius: 10px;
   
  
   
  
}


#second{
    margin-top: 20px;
}
button{
    height: 40px;
    border-radius: 10px;

    border: solid 0px;
    width: 150px;
  
}

#next{
 margin-left: 60%;
margin-top: 45px;
 background-color: #2a9d8f;
}
#back{
  margin-left: 90px;

  background-color: white;
}
#back:hover{
  background-color: aqua;
}


#next:hover{

    background-color: aqua;
}

.holder{
    padding-top: 20px;
    margin-left: 20px;
}
#date{
    margin-top: 150px;
}

@media (max-width:676px){

    form{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .container{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    input{
        width: 80%;
        height: 30px;
    }
    select{
        width: 50%;
    }
    .date{
        width: 30%;
    }
    label{

    }
    #next{
        margin-left: 10px;
        width: 50%;
        height: 60%;
    }
    #back{
        width: 50%;
        margin-left: 140%;
        height: 5%;
    }
    .bnts{
        width: 50%;
        height: 60%;
       
    }
    .col3{
        margin-right: 100%;
    }
}