input{
    border: solid 1px;
    border-top: solid 0px;
    border-left: solid 0px;
    border-right: solid 0px;
  width: 170px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
border-color: rgb(35, 167, 167);
}
label{
    color: white;
}
.container {
  background-color: rgb(8, 69, 49);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-svg {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.form-container {
  width: 80%;
  max-width: 600px;
}
  