h1{
    margin-left: 200px;
 
}
.container{
    width: 800px;
    height: 1000px;
    background-color: whitesmoke;
    margin-left: 400px;
}
button{
    height: 40px;
    border-radius: 10px;
    background-color:rgb(147, 135, 135);
    border: solid 0px;
    width: 200px  
  
}
#next{
    margin-left: 270px;
    margin-top: 150px;
   }
   #back{
    margin-left: 60px;
  }

  h2{
    margin-top: 100px;
    margin-left: 60px;
  }
  p{
    margin-left: 60px;
  }