
<div class="container">

<h1>PICK UP DETAILS CONFIRMATION</h1>

<h2>Pick up details</h2>
<div class="date">
    <label  class="form-label">Date</label>
    <input type="text" class="form-control" id="date"  required>
    </div>

    <div class="time">
        <label  class="form-label">Time</label>
        <input type="text" class="form-control" id="time"  required>
        </div>

<h2>Customer details</h2>
<div class="name">
    <label  class="form-label">First Name</label>
    <input type="text" class="form-control" id="name"  required>
    </div>

    <div class="suranem">
        <label  class="form-label">Last Name</label>
        <input type="text" class="form-control" id="surname"  required>
        </div>

        <div class="number">
            <label  class="form-label">Cell Number</label>
            <input type="text" class="form-control" id="number"  required>
            </div>
    
            <div class="email">
                <label  class="form-label">Email</label>
                <input type="text" class="form-control" id="email"  required>
                </div>
        
<h2>Customer address</h2>
<div class="address">
    <label  class="form-label">Address</label>
    <input type="text" class="form-control" id="Address"  required>
    </div>

    <div class="town">
        <label  class="form-label">Town</label>
        <input type="text" class="form-control" id="town"  required>
        </div>

<button   id="back" routerLink="/order"  >Back</button>
<button id="next"  routerLink="/payment" >Next</button>
</div>

