.services-grid{
   
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; /* Adjust gap between items */
    padding: 16px;
}
.service-item{
    
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners */
    padding: 16px;
    text-align: center;
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

img{
    height: 200px;
    width: 400px;
}