<div class="washnFold">
<img src="assets/wash.jpeg" alt="">
<h3>WASH AND FOLD</h3>
<p>Price per KG</p>
<h1>R50</h1>

</div>
<div class="washnFoldnIron">
<img src="assets/iron.jpeg" alt="">

<h3>WASH AND IRON</h3>
<p>Price per KG</p>
<h1>R80</h1>

</div>

<div class="irononly">
<img src="assets/only.avif" alt="">

<h3>IRON ONLY</h3>
<p>Price per KG</p>
<h1>R30</h1>

</div>

<div class="blanketswash">
<img src="assets/blanket.webp" alt="">
<h3>BLANKETS ONLY</h3>
<p>Price per KG</p>
<h1>R60</h1>

</div>