
<form class="Form" >
    <div class="capitec">
      <img src="assets/capitec.png" alt="">
      </div>
    
      <div class="labels">
    <div class="email">
      <label  class="form-label">Capitec Mobile App Email Address</label>
      <input type="text" class="form-control" id="email" value="Your email" required>
      
    </div>
    <div class="password">
      <label  class="form-label">Capitec Bank Mobile App Password</label>
      <input type="text" class="form-control" id="password" value="your password" required>
      
    </div>

</div>
    
    
   
  
    <div class="Pay">
      <button class="btn btn-primary" type="submit">Pay</button>
    </div>
    <div class="cancel">
      <button class="btn btn-primary" type="submit">Cancel</button>
    </div>
  </form>