.container{
    width: 600px;
    height: 600px;
  background-color: aliceblue;
    margin-left: 400px;
    border: 30px;
    border-radius: 30px;
}
.fnb img{
    width: 600px;
    height: 150px;
}

#email{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: solid 0px;
    margin-left: 100px;

}
#password{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: solid 0px;
    margin-left: 100px;
   
 
}

button{
    height: 40px;
    border-radius: 10px;

    border: solid 0px;
    width: 100px ; 
    margin-top: 80px;
    margin-left: 230px;
    
}

h1{
    color: gray;
    margin-left: 100px;
}
p{
    color: gray;
    margin-left:100px ;
   
}
.details{
    margin-top: 100px;
}
#CANCEL{
    height: 40px;
    border-radius: 10px;
background-color: aliceblue;
    border: solid 0px;
    width: 100px ; 
    margin-top: 20px;
    margin-left: 230px;
}