.Form{
    width: 600px;
    height: 800px;
    background-color: rgb(115, 161, 161);
    margin-left: 400px;
    border-radius: 30px;
}
.absa img{
    width: 600px;
    height: 300px;
}
.labels{
    margin-top: 100px;
}
label{
    color: white;
    margin-left: 30px;
}
input{
    margin-left: 30px;
    width: 500px;
}
.Pay {
    margin-left: 250px;
    margin-top: 30px;
 
}
button{
    width: 100px;
}
.cancel button{
    background-color: white;
    color: black;
    margin-left: 250px;
    margin-top: 10px;
}