
  
 
  <form class="Form" [formGroup]="payForm" (ngSubmit)="onSubmit()"  >
    <div class="absa">
      <img src="assets/absa.webp" alt="">
      </div>
    
      <div class="labels">
    <div class="email">
      <label  class="form-label">Absa Mobile App Email Address</label>
      <input type="text" class="form-control" formControlName="email" id="email" value="Your email" required>
      
    </div>
    <div class="password">
      <label  class="form-label">Absa Bank Mobile App Password</label>
      <input type="text" formControlName ="password" class="form-control" id="password" value="your password" required>
      
    </div>

</div>
    
    
   
  
    <div class="Pay">
      <button  routerLink="/select"  class="btn btn-primary" type="submit">Pay</button>
    </div>
    <div routerLink="/bank"  class="cancel">
      <button class="btn btn-primary" type="submit">Cancel</button>
    </div>
  </form>